<div id="dashboard" class="container-fluid">
  <div class="row-fluid">
    <div id="standings" class="span4">
      <h2>Standings</h2>
      <div class="contestants">
      </div>
    </div>

    <div class="span8">
      <div id="most-recent-heat">
        <div class="row-fluid">
          <h2 class="span12">
            Previous Heat
            <% if admin? %>
              <%= link_to 'redo', redo_races_path, method: :put, id: 'redo', class: 'btn btn-danger', remote: true, style: 'display: none' %>
            <% end %>
          </h2>
        </div>
        <div class="row-fluid lanes">
          <% DerbyConfig.lane_count.times do |i| %>
            <small class="<%= BoardHelper.lane_column_width %>">Lane <%= i + 1 %></small>
          <% end %>
        </div>
        <div class="row-fluid">
          <% DerbyConfig.lane_count.times do |i| %>
            <div class="<%= BoardHelper.lane_column_width %> lane<%= i+1 %>">
              <div class="name"></div>
              <div class="time"></div>
            </div>
          <% end %>
        </div>
      </div>

      <div id="upcoming-heats">
        <h2>
          Up next...
          <% if admin? %>
            <%= link_to 'Start the race!', new_race_path, id: 'start-race', class: 'btn btn-success', remote: true, style: 'display: none' %>
          <% end %>
        </h2>
        <div class="row-fluid">
          <% DerbyConfig.lane_count.times do |i| %>
            <div class="<%= BoardHelper.lane_column_width %>">
              <small>Lane<%= i + 1 %></small>
            </div>
          <% end %>
        </div>
        <div class="row-fluid next1">
          <% DerbyConfig.lane_count.times do |i| %>
            <div class="<%= BoardHelper.lane_column_width %> name lane<%= i + 1 %>"></div>
          <% end %>
        </div>
        <div class="row-fluid"><hr></div>
        <div class="row-fluid next2">
          <% DerbyConfig.lane_count.times do |i| %>
            <div class="<%= BoardHelper.lane_column_width %> name lane<%= i + 1 %>"></div>
          <% end %>
        </div>
        <div class="row-fluid"><hr></div>
        <div class="row-fluid next3">
          <% DerbyConfig.lane_count.times do |i| %>
            <div class="<%= BoardHelper.lane_column_width %> name lane<%= i + 1 %>"></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
